.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(var(--cols), 1fr);
    grid-auto-rows: 80px;
    gap: 16px;
    position: relative;
    padding-bottom: 200px;
    width: 100%;
}

.grid-bg {
    background-size: calc((100% - (var(--cols) - 1) * 16px) / var(--cols) + 16px) 100px;
    background-image:
        linear-gradient(to right, rgba(99, 102, 241, 0.05) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(99, 102, 241, 0.05) 1px, transparent 1px);
}



.resize-corner {
    position: absolute;
    bottom: 0;
    width: 20px;
    height: 20px;
    z-index: 25;
    cursor: nwse-resize;
    opacity: 0;
    transition: opacity 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.widget-item:hover .resize-corner {
    opacity: 1;
}

.resize-corner-right {
    right: 0;
    cursor: nwse-resize;
}

.resize-corner-left {
    left: 0;
    cursor: nesw-resize;
}

.corner-handle-icon {
    width: 8px;
    height: 8px;
    border-bottom: 2px solid #6366f1;
}

.resize-corner-right .corner-handle-icon {
    border-right: 2px solid #6366f1;
    border-bottom-right-radius: 2px;
}

.resize-corner-left .corner-handle-icon {
    border-left: 2px solid #6366f1;
    border-bottom-left-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: 10px;
}